<div id="side_nav">
    <h5>Additional Info</h5>
    <i class="material-icons green darken-1">library_add</i>
    <%= link_to "View all orders", orders_path %><br>
    <i class="material-icons green darken-1">library_add</i>
    <%= link_to "View all customers", customer_index_path %><br>
    <i class="material-icons green darken-1">library_add</i>
    <%= link_to "View all schools", schools_path %><br>
    <i class="material-icons green darken-1">library_add</i>
    <%= link_to "View all purchases", purchases_path %>
</div>
