<%if flash.any? %>
  <ul class = "collection">
    <% flash.each do |name, msg| %>
      <% if name == :alert %>
        <li class="collection-item red">
          <%= flash.notice %>
        </li>
      <% else %>
        <li class="collection-item green">
          <%= flash.notice %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>