<div class="row">
<%= render partial: "partials/index_structure", locals: {model_name: "user", 
                                                         primary: "employees_list", 
                                                         secondary: nil,
                                                         sidebar: "partials/sidebar/manager_sidebar"} %>
</div>