<div class="row">    
    <h4>Welcome <%= current_user.first_name %></h4>
    <br>
    <% if @need_reorder.empty? %>
        <h5>There are no reorder items at this time</h5>
    <% else %>
        <div class="col s8">
            <h5>Need Reorder Items</h5>
            <%= render partial: "home/reorder_list"%>
        </div>
    <% end %>

    <% if @unshipped_orders.empty? %>
        <h5>There are no unshipped orders at this time</h5>
    <% else %>
        <div class="col s8">
            <h5>Unshipped Orders</h5>
            <%= render partial: "home/unshipped_list" %>
        </div>
    <% end %>
</div>
