<h3>Welcome <%= current_user.first_name %></h3>

<% if array.empty? %>
    <h2>There are no <%= title %> at this time</h2>
<% else %>
    <h5><%= title %></h5>
    <% array.each do |a| %>
        <table>
        <% if current_user.role?(:shipper) %>
            <%= render partial: "shipper_dashboard", locals:{order: a} %>

        <% end %>
        </table>
    <% end %>
<% end %>

        
