<div class="row">
	<h3>Welcome to A&M Checkmate</h3>
	<br />
	<div class="col s8">
		<div id="img">
			<%= image_tag 'chess.jpg' %>
		</div>
	</div>

	<div class="col s4">
		<div id="home_side_nav">
			<%= render partial: "home/home_side_nav" %>
		</div>
	</div>
</div>

