<table class="table table-striped">
    <thead>
        <tr>
        <th width="250">Name</th>
        <th width="125">Inventory</th>
        <th width="125">Reorder Level</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <% @need_reorder.each do |item| %>
        <tr>
            <td><%= link_to item.name, item_path(item) %></td>
            <td><%= item.inventory_level %></td>
            <td><%= item.reorder_level %></td>
            <td><%= link_to "Place Order" %></td>
        </tr>
        <% end %>
    </tbody>
</table>