<div class="panel clearfix">
    <h3>Additional Info</h3>
    <li><%= link_to "View all orders", orders_path %></li>
    <li><%= link_to "View all customers" %></li>
    <li><%= link_to "View all schools", schools_path %></li>
    <li><%= link_to "View all purchases", purchases_path %></li>
</div>
