 <div class="row">
    <div class="col s8">
        <% unless @unshipped_orders.empty? %> 

            <div id="unshipped_list">   
                <ul class="collapsible" data-collapsible="accordion">
                    <li>  
                    <% @unshipped_orders.each do |us_order| %>
                        <div class="collapsible-header">
                            <i class="material-icons green darken-1">view_list</i>
                            <h7><%= "Order placed on #{us_order.date}" %></h7>
                        </div>
                        <div class="collapsible-body">
                            <span>
                            <table class="striped">
                            <thead><tr><th></th><th></th></tr></thead>
                            <tbody>
                            <% @unshipped_items.each do |us_item| %>
                                <tr>
                                <td><%= link_to us_item.item.name, item_path(us_item.item) %></td>
                                <td><%= render partial: "partials/address_info", locals:{order: us_order} %></td>
                                </tr>
                            <% end %>
                            </tbody>
                            </table>
                            </span>
                        </div>
                    <% end %>
                    </li>
                </ul>
            </div>
        <% end %>
    </div>
</div>