 <div class="row">
    <div class="col s8">
        <% unless @unshipped_orders.empty? %> 

            <div id="unshipped_list">   
                <ul class="collapsible popout" data-collapsible="accordion">
                    <% @unshipped_orders.each do |us_order| %>
                        <li>
                        <div class="collapsible-header">
                            <i class="material-icons green darken-1">view_list</i>
                            <h7><%= "Order placed on #{us_order.date.strftime('%m/%d/%y')}" %></h7>
                        </div>
                        <div class="collapsible-body">
                            <span>
                            <table class="striped">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Address</th>
                                <th>Shipping Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% @unshipped_items.each do |us_item| %>
                                <tr>
                                <td><%= link_to us_item.item.name, item_path(us_item.item) %></td>
                                <td><%= render partial: "partials/address_info", locals:{order: us_order} %></td>
                                <td><%= link_to(ship_item_path(us_item.id), class: "waves-effect waves-light btn green darken-1", remote: true) do %>
                                Ship
                                <% end %></td>
                                </tr>
                            <% end %>
                            </tbody>
                            </table>
                            </span>
                        </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
</div>