<div class="row">  
  <h3>Alex and Mark's Chess Store</h3><br />
  <div class="col s8">
    <p>
      <%= image_tag 'USCF.jpg', class:"left" %>
      Alex and Mark Heimann are USCF and FIDE Chess Masters who 
      recently graduated from college. They created this chess store 
      to help up and coming scholastic players develop their 
      chess skills. A&M Chess Store is an online chess store that buys 
      chess supplies directly from manufacturers and sells to schools 
      and eductional groups at low wholesale prices. Come shop at A&M 
      Chess Store for quality chess supplies at the lowest prices!
    </p>
  </div>

  <div class="col s4">
    <div id="home_side_nav">
      <%= render partial: "home/home_side_nav" %>
    </div>
  </div>
</div>