<div class="row">
	<div class="col s8">
		<h3>Contact Chess Warehouse</h3>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:</td>
				<td>Hera Miao</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= mail_to("heram@andrew.cmu.edu", "Hera Miao", :encode => "javascript") %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>412-268-8211</td>
			</tr>
		</table>
			
		<p>&nbsp;</p>
		<p>&nbsp;</p>
	</div>

	<div class="col s4">
    	<div id="home_side_nav">
      		<%= render partial: "home/home_side_nav" %>
    	</div>
  	</div>
</div>