<% if @all_orders.empty? %>
    <h4>There are no available orders at this time</h4>
<% else %>
    <h4>All Orders</h4>
    <table class="striped">
        <thead>
        <tr>
        <th>Date Placed</th>
        <th>School</th>
        <th></th>
        </tr>
        </thead>

        <tbody>
        <% @all_orders.each do |order| %>
            <tr>
            <td><%= order.date.strftime('%m/%d/%y') %></td>
            <td><%= link_to order.school.name, school_path(order.school) %></td>
            <td><%= link_to "Details", order_path(order) %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>