<!-- link to home -->
<li><%= link_to "Dashboard", home_path %></li>

<!-- render partials -->
<%= render partial: "partials/nav/add_new" %>
<%= render partial: "partials/nav/edit" %>
<%= render partial: "partials/nav/account" %>