<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation"> 
    <section class="top-bar-section">
      <ul class="right">
        <!-- link to home -->
        <li><%= link_to "Home", home_path %></li>

        <!-- render partials -->

      </ul>
    </section>
  </nav>
</div>