<!-- link to home -->
<li><%= link_to "Dashboard", home_path %></li>

<!-- render partials -->
<%= render partial: "partials/nav/items" %>
<%= render partial: "partials/nav/employees" %>
<%= render partial: "partials/nav/account" %>