<div class="contain-to-grid">
  <nav class="top-bar" data-topbar role="navigation"> 
    <section class="top-bar-section">
      <ul class="right">

        <!-- render partials -->
        <% if logged_in? && current_user.role?(:shipper) %>
          <%= render partial: "partials/nav/user_nav/shipper" %>
        <% elsif logged_in? && current_user.role?(:manager) %>
          <%= render partial: "partials/nav/user_nav/manager" %>
        <% elsif logged_in? && current_user.role?(:admin) %>
          <%= render partial: "partials/nav/user_nav/admin" %>
        <% else %>
          <%= render partial: "partials/nav/user_nav/guest" %>
        <% end %>
        
      </ul>
    </section>
  </nav>
</div>
