<li class="has-dropdown">
<%= link_to "Add New" %>
<ul class="dropdown">
<li><%= link_to "Add User", new_user_path %></li>
<li><%= link_to "Add School", new_school_path %></li>
<li><%= link_to "Add Item", new_item_path %></li>
</ul>
</li>