<ul id="employee_dropdown" class="dropdown-content">
    <li><%= link_to "Add Employee", new_user_path %></li>
    <li><%= link_to "View All", employee_index_path %></li>
</ul>

<li><a class="dropdown-button waves-effect waves-light btn green darken-2" data-activates="employee_dropdown">Employees<i class="material-icons right">arrow_drop_down</i></a></li>