<!-- options for items -->
<% if logged_in? && current_user.role?(:manager) %>
    <ul id="items_dropdown" class="dropdown-content">
        <li><%= link_to "Add Item", new_item_path %></li>
        <li><%= link_to "View All", items_path %></li>
    </ul>

    <li><a class="dropdown-button" data-activates="items_dropdown">Items<i class="material-icons right">arrow_drop_down</i></a></li>
<% else %>
    <li><%= link_to "Items", items_path, class:"waves-effect waves-light btn green darken-2" %></li>
<% end %>

