<li class="has-dropdown">
<%= link_to "Need Reorder", home_path %>
<ul class="dropdown">
<li><%= link_to "View All", home_path %></li>
<li><%= link_to "Add Purchase", new_purchase_path %></li>
</ul>
</li>