<% unless @similar_items.empty? %>
  <div id="similar_items">
    <h4>Similar Items</h4>
      <% @similar_items.each do |item| %>
        <li><%= link_to item.name, item_path(item) %></li>
      <% end %>
  </div>
<% end %>