<% unless @boards.empty? %>
  <h5>Boards</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="300">Name</th>
        <th width="100">Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @boards.each do |board| %>
        <tr>
          <td><%= link_to board.name, item_path(board) %></td>
          <td><%= number_to_currency board.current_price %></td>
          <td><input type="integer"></td>
          <td><%= link_to "Add to cart", cart_path %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>