<% if @boards.empty? %>
  <h5>There are no available boards at this time</h5>
<% else %>
  <h4>Boards</h4>
  <br>
  <ul class="shop_item">
    <% @boards.each do |board| %>
      <li><%= image_tag 'img_not_available.png' %></li>
      <li><%= link_to board.name, item_path(board) %></li>
      <li><%= number_to_currency board.current_price %></li>
      <li><%= link_to "Add to cart", add_to_cart_path(board) %></li>
      <br>
      <br>
    <% end %>
  </ul>
<% end %>