<% if @clocks.empty? %>
  <h5>There are no available clocks at this time</h5>
<% else %>
  <h4>Clocks</h4>
  <br>    
  <% @clocks.each do |clock| %>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'img_not_available.png' %>
        </div>
        <div class="card-content">
          <ul>
            <li><%= link_to clock.name, item_path(clock) %></li>
            <li><%= number_to_currency clock.current_price %></li>
          </ul>
        </div>
        <div class="card-action">
          <%= link_to "Add to cart", add_to_cart_path(clock) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>