<% if @pieces.empty? %>
  <h5>There are no available pieces at this time</h5>
<% else %>
  <h4>Pieces</h4>
  <br>
  <% @pieces.each do |piece| %>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'img_not_available.png' %>
        </div>
        <div class="card-content">
          <ul>
            <li><%= link_to piece.name, item_path(piece) %></li>
            <li><%= number_to_currency piece.current_price %></li>
          </ul>
        </div>
        <div class="card-action">
          <%= link_to "Add to cart", add_to_cart_path(piece) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>