<% unless @pieces.empty? %>
  <h5>Pieces</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="300">Name</th>
        <th width="100">Price</th>
      </tr>
    </thead>
    <tbody>
      <% @pieces.each do |piece| %>
        <tr>
          <td><%= link_to piece.name, item_path(piece) %></td>
          <td><%= number_to_currency piece.current_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>