<% if @supplies.empty? %>
  <h5>There are no available supplies at this time</h5>
<% else %>
  <h4>Supplies</h4>
  <br>
  <% @supplies.each do |supply| %>
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <%= image_tag 'img_not_available.png' %>
        </div>
        <div class="card-content">
          <ul>
            <li><%= link_to supply.name, item_path(supply) %></li>
            <li><%= number_to_currency supply.current_price %></li>
          </ul>
        </div>
        <div class="card-action">
          <%= link_to "Add to cart", add_to_cart_path(supply) %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>