/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require normalize
 *= require font-awesome.min
 *= require simple_form
 */

#container {
  width: 85%;
  margin-left: 8%;
  margin-right: 8%;
}

nav {
  background-color: #000000;
  margin-bottom: 40px;
}

nav .nav {
  background-color: #000000;
  margin-bottom: 30px; 
  height: 90px;
}

footer {
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 18px;
  font-family: serif;
  text-align: center;
}

footer a {
  color: #FFFFFF;
  font-size: 18px;
  font-family: serif;
}

footer a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

#side_nav {
  float: right;
  margin-top: 10%;
	padding: 2em;
	font-size: 1em;
	border: 1.5px solid black;
}

#side_nav a {
  font-size: 18px;
  font-family: serif;
}

#side_nav a:hover {
  text-decoration: underline;
}

.striped {
  border: 1px solid black;
}

.pagination ul > li > a, .pagination ul > li > span {
  border-left-width: 1px;
}

.card {
  border: 1.5px solid black;
  width: 170px;
}

.card-content {
  height: 140px;
}

.card-content ul {
  margin-top: 0px;
}

#side_nav_items {
  float: right;
  margin-top: 10%;
	padding: 2em;
	font-size: 1em;
	border: 1.5px solid black;
}

